<style>
table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
    width:100%;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
    text-align:center;
    font-weight:bold
}
</style>
<table>
<tr>
  <th style="background-color:#AAAAAA">Intensity Bit</th>
  <th style="background-color:#FF0000; color:#550000">Red Bit</th>
  <th style="background-color:#00FF00; color:#005500">Green Bit</th>
  <th style="background-color:#0000FF; color:#55FFFF">Blue Bit</th>
  <th>Binary Value</th>
  <th>Decimal Value</th>
</tr>
<tr style="background-color:#000000; color:#FFFFFF">
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>0000</td>
  <td>0</td>
</tr>
<tr style="background-color:#555555; color:#FFFFFF">
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>1</td>
  <td>0001</td>
  <td>1</td>
</tr>
<tr  style="background-color:#0000AA; color:#FFFFFF">
  <td>0</td>
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>0010</td>
  <td>2</td>
</tr>
<tr style="background-color:#5555FF; color:#FFFFFF">
  <td>0</td>
  <td>0</td>
  <td>1</td>
  <td>1</td>
  <td>0011</td>
  <td>3</td>
</tr>
<tr style="background-color:#00AA00; color:#000000">
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>0100</td>
  <td>4</td>
</tr>
<tr style="background-color:#55FF55; color:#000000">
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>1</td>
  <td>0101</td>
  <td>5</td>
</tr>
<tr style="background-color:#00AAAA; color:#000000">
  <td>0</td>
  <td>1</td>
  <td>1</td>
  <td>0</td>
  <td>0110</td>
  <td>6</td>
</tr>
<tr style="background-color:#55FFFF; color:#000000">
  <td>0</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>0111</td>
  <td>7</td>
</tr>
<tr style="background-color:#AA0000; color:#000000">
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>0</td>
  <td>1000</td>
  <td>8</td>
</tr>
<tr style="background-color:#FF5555; color:#000000">
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>1</td>
  <td>1001</td>
  <td>9</td>
</tr>
<tr style="background-color:#AA00AA; color:#000000">
  <td>1</td>
  <td>0</td>
  <td>1</td>
  <td>0</td>
  <td>1010</td>
  <td>10</td>
</tr>
<tr style="background-color:#FF55FF; color:#000000">
  <td>1</td>
  <td>0</td>
  <td>1</td>
  <td>1</td>
  <td>1011</td>
  <td>11</td>
</tr>
<tr style="background-color:#AA5500; color:#000000">
  <td>1</td>
  <td>1</td>
  <td>0</td>
  <td>0</td>
  <td>1100</td>
  <td>12</td>
</tr>
<tr style="background-color:#FFFF55; color:#000000">
  <td>1</td>
  <td>1</td>
  <td>0</td>
  <td>1</td>
  <td>1101</td>
  <td>13</td>
</tr>
<tr style="background-color:#AAAAAA; color:#000000">
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>0</td>
  <td>1110</td>
  <td>14</td>
</tr>
<tr style="background-color:#FFFFFF; color:#000000">
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1111</td>
  <td>15</td>
</tr>
</table>
